.container {
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 8px 8px 15px #bcbcbc,
                -8px -8px 15px #ffffff;
    padding: 40px;
    width: 300px;
    margin: auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #bcbcbc,
                inset -5px -5px 10px #ffffff;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }

  .btns {
    padding: 15px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #3498db; /* Blue background color */
    color: white; /* White text color */
    border-radius: 10px;
    box-shadow: 8px 8px 15px #bcbcbc,
                -8px -8px 15px #ffffff;
    transition: box-shadow 0.3s ease;
  }
  
  .btns:hover {
    box-shadow: 10px 10px 20px #bcbcbc,
                -10px -10px 20px #ffffff;
  }