
    <div class="container">
      <h2>Login</h2>
      <form>
        <div class="input-field">
          <input type="text" placeholder="Username" required>
        </div>
        <div class="input-field">
          <input type="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn">Login</button>
        <button class="btn" style="background-color: blue; margin-top: 20px;" routerLink="/register">Register For New Account</button>
      </form>
    </div>